#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main_panel {
  width: 600px;
}
.history_panel {
  width: 150px;
  flex-direction: column;
}

.banlist_panel {
  width: 150px;
  /* display: flex; */
  flex-direction: column;
}

.catInfo img {
  max-width: 500px;
}

.catInfo {
  max-width: 800px;
}

